@import "/src/styles/mixins/style.scss";

.user-description {
  padding: 48px 80px 0 80px;

  &__inner {
    display: flex;
    gap: 200px;

    @include resolution("laptop") {
      gap: 100px;
    }
    @include resolution("tablet") {
      gap: 48px;
      flex-direction: column-reverse;
    }
  }
  &__text {
    max-width: 630px;
  }
  @include resolution("phone") {
    padding: 48px 20px 0 20px;
  }
}
