.hello-banner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 846px;
  min-width: 280px;
}

.fake-button {
  width: 81px;
}

@media (max-width: 900px) {
  .hello-banner {
    &__subtitle {
      font-size: 16px;
    }
  }
}

@media (max-width: 532px) {
  .hello-banner {
    gap: 8px;
    &__subtitle {
      font-size: 12px;
    }
  }
  .main-button__container {
    display: none;
  }
  .fake-button {
    display: none;
  }
  .main-button__container--mobile {
    display: flex;
  }
  .main-button {
    font-size: 12px;
    padding: 4px 8px;
  }
  .fake-button--mobile {
    display: block;
    order: -1;
  }
}
