@import "/src/styles/mixins/style.scss";

.user-profile {
  display: flex;
  justify-content: left;
  width: 100%;
  @include resolution("phone") {
    justify-content: center;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 108px;
    @include resolution("laptop") {
      padding-left: 0;
    }
    @include resolution("phone") {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 150px;
    @include resolution("phone") {
      align-items: center;
    }
  }

  &__subtitle {
    text-align: left;
    font-size: 32px;
    @include resolution("phone") {
      font-size: 20px;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
}
