@import "../../ui/colors/style.scss";

.hello-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 846px;
  min-width: 280px;
}

@media (max-width: 900px) {
  .hello-banner {
    &__subtitle {
      font-size: 16px;
    }
  }
}

@media (max-width: 532px) {
  .hello-banner {
    &__subtitle {
      font-size: 12px;
    }
  }
}
