@import "/src/styles/colors/style.scss";
@import "/src/styles/mixins/style.scss";

.main-button {
  font-size: 16px;
  padding: 8px 16px;
  color: $main-button-background;
  background-color: $transparent;
  border-color: $main-button-border;
  border-radius: 8px;
  border-width: 1px;
  position: absolute;
  top: 20px;
  @include resolution("phone") {
    font-size: 12px;
    padding: 4px 8px;
  }

  &--left-side {
    left: 80px;
    @include resolution("phone") {
      left: 20px;
    }
  }
  &--right-side {
    right: 80px;
    @include resolution("phone") {
      right: 20px;
    }
  }
}
