@import "../../colors/style.scss";

.error-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.5);

  &__button {
    padding: 5px;
    border-radius: 8px;
    background-color: $transparent;
    border-width: 1px;
    border-color: #151317;
  }

  &__content {
    padding: 20px;
    background-color: white;
    border: 1px solid $frame;
    border-radius: 5px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
