$accent: #512689;
$transparent: rgba(0, 0, 0, 0);
$translucent: rgba(0, 0, 0, 0.5);
$border-shadow: #ebebeb;
$border: #151317;
$modal-background: white;
$header-font: white;
$main-button-border: white;
$main-button-background: white;
