@import "/src/styles/colors/style.scss";

.pagination {
  margin: auto;

  &__button {
    padding: 5px;
    border-radius: 8px;
    background-color: $transparent;
    border-width: 1px;
    border-color: #151317;
  }
}
