@import "/src/UI/colors/style.scss";

.header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 64px 0;
  color: #ffffff;
  background-color: $accent;
}

.hello-banner {
  width: 846px;

  &__title {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
  }
}
