@import "/src/styles/colors/style.scss";
@import "/src/styles/mixins/style.scss";

header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 64px 80px;
  color: $header-font;
  background-color: $accent;
  height: 270px;
  @include resolution("phone") {
    padding: 64px 20px;
  }
}

.header--mobile {
  @include resolution("phone") {
    height: auto;
  }
}
