@import "/src/styles/colors/style.scss";
@import "/src/styles/mixins/style.scss";

.user-list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-list {
  padding-top: 48px;
  padding-inline: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @include resolution("phone") {
    padding-top: 20px;
    padding-inline: 10px 10px;
  }
  @include resolution("tablet") {
    padding-top: 32px;
    padding-inline: 20px 20px;
  }
}
