@import "/src/UI/colors/style.scss";

.user-list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-list {
  padding-top: 48px;
  padding-inline: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  .user-list {
    padding-top: 32px;
    padding-inline: 20px 20px;
  }
}

@media (max-width: 532px) {
  .user-list {
    padding-top: 20px;
    padding-inline: 10px 10px;
  }
}
